
process {
    executor = 'local'
    container = ""
}

apptainer {
    enabled = false
    autoMounts = true
}

singularity {
    enabled = false
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'  // Or whatever your HPC uses
        process.queue = 'batch'

    }
}
