

process {
    executor = 'local'
    container = 'container.sif'
    containerEngine = 'apptainer'

    withName: build_container {
        scratch = true
    }

    withName: '*':
        beforeScript = '''
        if [ ! -f mars_container.sif ]; then
            echo "Building Apptainer container..."
            # curl -L -o mars.def https://raw.githubusercontent.com/fifthguy/CSSCP/main/container.def
            apptainer build container.sif container.def
        fi
        '''
    }
}

singularity {
    enabled = false
}
apptainer {
    enabled = true
    autoMounts = true
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'  // Or whatever your HPC uses
        process.queue = 'batch'

    }
}
